build/
out/
bin/

.idea/
*.iml
*.ipr
*.iws
*.class
*.jar
*.war

/logs/
*.log

*.xml
gradle.xml
misc.xml
vcs.xml

.gradle/

!.gitignore
!build.gradle
!gradle-wrapper.jar
!gradle-wrapper.properties
!gradlew
!gradlew.bat